
<!--Checkj out this girft registry for directions-->
<p>http://www.target.com/gift-registry/</p>
<p>"The changes on the website are great. Had my wedding registry on here 2 yrs ago and now we have our first child on the way. Thanks and great job."
</br>- Jessica, Georgia</p>
<p>"I think this website provides a great way for people to have an online registry without being forced to purchase from one store.  It came in handy for my baby shower!! Thank you!"
</br>- Stephanie, Hawaii</p>
<p>"Not only does your site offer the best functionality in Registry sites that I've seen, you have excellent customer service and are really trying to help your customers!"
</br>- Jenn, New York</p>
